<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns="urn:x-fx.org:fx.core.net-1.0-lib.config">
  <Application Name="FX.App.FileSync">
    <XmlValue Namespace="FX.App.FileSync.Lib" Key="Logging">
      <Provider xmlns="urn:x-fx.org:fx.core.net-1.0-lib.logging" Type="FX.Core.NET.Lib.Logging.Providers.MultiProvider, FX.Core.NET.Lib">
        <Providers>
          <Provider Type="FX.Core.NET.Lib.Logging.Providers.ConsoleProvider, FX.Core.NET.Lib" TraceSeverity="CriticalError Error Warning" />
          <Provider Type="FX.Core.NET.Lib.Logging.Providers.FileProvider, FX.Core.NET.Lib" ConnectionString="{Current}\Logs\Log.csv" SizeLimit="51200" TimeLimit="-1"  />
        </Providers>
      </Provider>      
    </XmlValue>
    <XmlValue Namespace="FX.App.FileSync.Lib" Key="Synchronization">
        <FileSyncConfig  xmlns="urn:x-fx.org:fx.app.filesync-1.0-lib.config" Resolving="Newest">
            <Node Name="Node01" Type="FX.App.FileSync.Lib.Providers.SystemFilesProvider, FX.App.FileSync.Lib" Priority="1" Enabled="true" 
                ConnectionString="{Current}\TestData\Node01" 
                BackupConnectionString="{Current}\TestData\Node01 - Backup" >
                <BackupType>Deleted Updated</BackupType>
                </Node>
            <Node Name="Node02" Type="FX.App.FileSync.Lib.Providers.SystemFilesProvider, FX.App.FileSync.Lib" Priority="2" Enabled="true" 
                ConnectionString="{Current}\TestData\Node02" 
                BackupConnectionString="{Current}\TestData\Node02 - Backup" >
                <BackupType>Deleted Updated Conflict</BackupType>
            </Node>
            <Node Name="Node03" Type="FX.App.FileSync.Lib.Providers.SystemFilesProvider, FX.App.FileSync.Lib" Priority="3" Enabled="true" ConnectionString="{Current}\TestData\Node03" />
        </FileSyncConfig>      
    </XmlValue>
  </Application>
</Config>